.contact{
  display: flex;
  height: auto;
  padding-bottom: 48px;
  justify-content: center;
}

.title-contact{
  font-weight: normal;
  font-size: 30px;
  border-top: 2px solid black;
  display: inline-block;
  text-align: left;
}

.container-contact{
  width: 100%;
  max-width: 1240px;
}


@media screen and (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }
  
  .info-contact {
    margin-top: 20px;
  }

  .title-contact{
    font-size: clamp(25px,4.5vw,30px);
  }
}
