.contact{
  display: flex;
  height: auto;
  padding-left: 40px;
  padding-bottom: 48px;
}


.title-contact{
    font-weight: normal;
    height: 40px;
    width: auto;
    font-size: 30px;
    border-top: 2px solid black;
    display: inline-block;
}