.portfolio{
  display: flex;
  height: auto;
  padding-top: 48px;
  padding-bottom: 48px;
  flex-direction: column;
}

.title-portfolio{
    font-weight: normal;
    height: 40px;
    width: auto;
    font-size: 30px;
    border-top: 2px solid black;
    display: inline-block;
}

@media screen and (max-width: 768px) {
  .title-portfolio{
    font-size: clamp(25px, 4.5vw, 30px);
  }
}