.portfolio{
  display: flex;
  height: auto;
  padding-top: 48px;
  padding-left: 40px;
  padding-bottom: 48px;
  flex-direction: column
  ;
}

.title-portfolio{
    font-weight: normal;
    height: 40px;
    width: auto;
    font-size: 30px;
    border-top: 2px solid black;
}

.container-projet{

}