.lien-nav {
  position: fixed;
  width: 100%;
  max-width: 1240px;
  background-color: white;
  padding: 20px 0;
  margin: 0 auto;
  z-index: 3;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}


.nav-container a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  transition: transform 0.3s ease;
}

.nav-container a:hover {
  text-decoration: underline;
  background-color: black;
  color: white;
  transform: scale(1.05);
}
