.competence{
  height: auto;
  padding-top: 48px;
  justify-content: center;
  display: flex;
  gap: 20px;
   flex-direction: column; /* ✅ Ajouté */
  align-items: center;   
}

.title-competence{
  font-weight: normal;
  font-size: 30px;
  border-top: 2px solid black;
  display: inline-block;
  text-align: left;
}

.container-competence{
  width: 100%;
  max-width: 1240px;
}

@media screen and (max-width: 768px) {

  .title-competence{
     font-size: clamp(25px, 4vw, 30px);
  }
}

     